{% extends 'compras/base.html' %}

{% block content %}
<header>
	LISTA DE FACTURAS
</header>

<main>
	<form method="GET">
		<div class="busqueda_fac">
	   <div class="box1" value="ESTADO">ESTADO</div>
	   <div class="box2" value="PROVEEDOR">PROVEEDOR</div>
	   <div class="box3"></div>
		 <div class="box4" value="ESTADO">{{ filter.form.estado }}</div>
		 <div class="box5" value="ESTADO">{{ filter.form.proveedor }}</div>
		 <div class="box6"><input class="save btn btn-default"  type="submit" value="FILTRAR" /></div>
		</div>
	</form>

  {% for factura in filter.qs %}

    {% if factura.estado == 'IMPAGA' %}
    <form target="_self"  method="POST" class="factura">{% csrf_token %}
    			<div class="caja">
         			<div class="grid-item titulo"><a href="{% url 'factura_detail' pk=factura.pk %}"><span class="glyphicon glyphicon-list-alt"></span>&nbsp;&nbsp;{{ factura.numero }}</a></div>

              <div class="grid-item texto">FECHA</div>
              <div class="grid-item">{{ factura.fecha }}</div>
              <div class="grid-item texto">PROVEEDOR</div>
              <div class="grid-item">{{ factura.proveedor }}</div>
              <div class="grid-item texto">TOTAL</div>
              <div class="grid-item">$ {{ factura.total }}</div>
              <div class="grid-item texto">ESTADO</div>
              <div class="grid-item impaga">{{ factura.estado }}</div>
    			</div>
    	</form>
    {% else %}
    <form target="_self"  method="POST" class="factura">{% csrf_token %}
    			<div class="caja">
         			<div class="grid-item titulo"><a href="{% url 'factura_detail' pk=factura.pk %}"><span class="glyphicon glyphicon-list-alt"></span>&nbsp;&nbsp;{{ factura.numero }}</a></div>

              <div class="grid-item texto">FECHA</div>
              <div class="grid-item">{{ factura.fecha }}</div>
              <div class="grid-item texto">PROVEEDOR</div>
              <div class="grid-item">{{ factura.proveedor }}</div>
              <div class="grid-item texto">TOTAL</div>
              <div class="grid-item">{{ factura.total }}</div>
              <div class="grid-item texto">ESTADO</div>
              <div class="grid-item">{{ factura.estado }}</div>
							<div class="grid-item texto">FECHA DE PAGO</div>
							<div class="grid-item">{{ factura.fecha_de_pago }}</div>
    			</div>
    	</form>
    {% endif %}
  {% endfor %}
  </main>
{% endblock %}
