{% extends 'compras/base.html' %}

{% block content %}
<header>
	LISTA DE FACTURAS
</header>

<main>
  {% for factura in facturas %}
    {% if factura.estado == 'IMPAGA' %}
    <form target="_self"  method="POST" class="factura">{% csrf_token %}
    			<div class="caja">
         			<div class="grid-item titulo"><a href="{% url 'factura_detail' pk=factura.pk %}"><span class="glyphicon glyphicon-list-alt"></span>&nbsp;&nbsp;{{ factura.numero }}</a></div>

              <div class="grid-item texto">FECHA</div>
              <div class="grid-item">{{ factura.fecha }}</div>
							<div class="grid-item texto">TIPO</div>
							<div class="grid-item">{{ factura.tipo }}</div>
              <div class="grid-item texto">PROVEEDOR</div>
              <div class="grid-item">{{ factura.proveedor }}</div>
              <div class="grid-item texto">TOTAL</div>
              <div class="grid-item">$ {{ factura.total }}</div>
              <div class="grid-item texto">ESTADO</div>
              <div class="grid-item impaga">{{ factura.estado }}</div>
    			</div>
    	</form>
    {% else %}
    <form target="_self"  method="POST" class="factura">{% csrf_token %}
    			<div class="caja">
         			<div class="grid-item titulo"><a href="{% url 'factura_detail' pk=factura.pk %}"><span class="glyphicon glyphicon-list-alt"></span>&nbsp;&nbsp;{{ factura.numero }}</a></div>

              <div class="grid-item texto">FECHA</div>
              <div class="grid-item">{{ factura.fecha }}</div>
							<div class="grid-item texto">TIPO</div>
              <div class="grid-item">{{ factura.tipo }}</div>
              <div class="grid-item texto">PROVEEDOR</div>
              <div class="grid-item">{{ factura.proveedor }}</div>
              <div class="grid-item texto">TOTAL</div>
              <div class="grid-item">{{ factura.total }}</div>
              <div class="grid-item texto">ESTADO</div>
              <div class="grid-item">{{ factura.estado }}</div>
							<div class="grid-item texto">FECHA DE PAGO</div>
							<div class="grid-item">{{ factura.fecha_de_pago }}</div>
    			</div>
    	</form>
    {% endif %}
  {% endfor %}
  </main>
{% endblock %}
