{% extends 'compras/base.html' %}

{% block content %}

<header>
	FACTURAS
</header>

<main>
  {% if user.is_authenticated %}

  {% endif %}

<form target="_self" class="factura">{% csrf_token %}
			<div class="caja">
     			<div class="grid-item titulo">{{ factura.estado }}
            <a href="{% url 'factura_edit' pk=factura.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
            <a href="{% url 'factura_remove' pk=factura.pk %}"><span class="glyphicon glyphicon-trash"></span></a>
          </div>
          <div class="grid-item texto">ESTADO</div>
          <div class="grid-item">{{ factura.estado }}</div>
          <div class="grid-item texto">FECHA</div>
          <div class="grid-item date">{{ factura.fecha }}</div>
          <div class="grid-item texto">PROVEEDOR</div>
          <div class="grid-item">{{ factura.proveedor}}</div>
          <div class="grid-item texto">TOTAL</div>
          <div class="grid-item">{{ factura.total }}</div>
			</div>
	</form>

</main>


{% endblock %}
