{% extends 'compras/base.html' %}

{% block content %}

<header>
	FACTURA
</header>

<main>
  {% if user.is_authenticated %}

  {% endif %}

<form target="_self" class="factura">
			<div class="caja">
     			<div class="grid-item titulo">{{ factura.numero }}
						{% if user.is_authenticated and factura.estado == 'IMPAGA' %}
						<div style="text-align:right"><a href="{% url 'factura_edit' pk=factura.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>&nbsp;&nbsp;&nbsp;
						<a onclick="return confirm('¿Está seguro de que desea eliminar la factura?');" href="{% url 'factura_remove' pk=factura.pk %}"><span class="glyphicon glyphicon-trash"></span></a></div>
						{% endif %}
					</div>
          <div class="grid-item texto">ESTADO</div>
					{% if factura.estado == 'IMPAGA' %}
          <div class="grid-item impaga">{{ factura.estado }}</div>
					{% else %}
					<div class="grid-item ">{{ factura.estado }}</div>
					{% endif %}
          <div class="grid-item texto">FECHA</div>
          <div class="grid-item date">{{ factura.fecha }}</div>
          <div class="grid-item texto">PROVEEDOR</div>
          <div class="grid-item">{{ factura.proveedor}}</div>
          <div class="grid-item texto">TOTAL</div>
          <div class="grid-item">$ {{ factura.total }}</div>
			</div>
	</form>

	<form target="_self" class="factura"">
				{{ detalle_formset.management_form }}
				<div class="cajita">
						<div class="grid-item titulo">DETALLE</div>

						{% for field in detalle_formset %}
						<div class="grid-item texto">PRODUCTO {{ field.producto }}</div>

						<div class="grid-item texto">CANTIDAD {{ field.cantidad }}</div>

						{% endfor %}
				</div>
		</form>

</main>


{% endblock %}
