{% extends 'compras/base.html' %}

{% block content %}
<header>
	PRODUCTOS
</header>

<main>
  {% if user.is_authenticated %}

  {% endif %}

<form target="_self" class="producto">{% csrf_token %}
			<div class="caja">
     			<div class="grid-item titulo mayus">{{ producto.nombre }}
						{% if user.is_authenticated %}
            <a href="{% url 'producto_edit' pk=producto.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
            <a href="{% url 'producto_remove' pk=producto.pk %}"><span class="glyphicon glyphicon-trash"></span></a>
						{% endif %}
					</div>
          <div class="grid-item texto">PRECIO</div>
          <div class="grid-item">{{ producto.precio_unitario }}</div>
          <div class="grid-item texto">UNIDAD DE MEDIDA</div>
          <div class="grid-item">{{ producto.unidad_de_medida}}</div>
          <div class="grid-item texto">STOCK</div>
          <div class="grid-item">{{ producto.stock }}</div>
			</div>
	</form>

</main>
{% endblock %}
