{% extends 'compras/base.html' %}

{% block content %}

<header>
	LISTA DE PRODUCTOS
</header>

<main>
  {% for producto in productos %}

<form target="_self"  method="POST" class="producto-form">{% csrf_token %}
			<div class="caja">
     			<div class="grid-item titulo mayus"><a href="{% url 'producto_detail' pk=producto.pk %}"><span class="glyphicon glyphicon-barcode"></span>&nbsp;&nbsp;{{ producto.nombre }}</a></div>

          <div class="grid-item texto">TIPO</div>
          <div class="grid-item">{{ producto.tipo }}</div>
          <div class="grid-item texto">PRECIO UNITARIO</div>
          <div class="grid-item">${{ producto.precio_unitario}}</div>
          <div class="grid-item texto">STOCK</div>
          <div class="grid-item">{{ producto.stock }}</div>
			</div>
	</form>
  {% endfor %}
</main>

{% endblock %}
