{% load static %}
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/compras.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Gastron-O-Matic</title>
  </head>

<body>
  <nav>
  		<div class="menu">
  		<div class="menuheader">Seleccione una Operación</div>
  		<div class="botones button1"><a href="{% url 'factura_new' %}">NUEVA FACTURA&nbsp;&nbsp;<span class="glyphicon glyphicon-plus"></span></a></div>
      <div class="botones button2"><a href="{% url 'factura_list' %}">VER FACTURAS&nbsp;&nbsp;<span class="glyphicon glyphicon-eye-open"></a></div>
  		<div class="botones button3"><a href="{% url 'proveedor_new' %}">NUEVO PROVEEDOR&nbsp;&nbsp;<span class="glyphicon glyphicon-plus"></a></div>
  		<div class="botones button4"><a href="{% url 'proveedor_list' %}">VER PROVEEDORES&nbsp;&nbsp;<span class="glyphicon glyphicon-eye-open"></a></div>
  		<div class="botones button5"><a href="{% url 'producto_new' %}">NUEVO PRODUCTO&nbsp;&nbsp;<span class="glyphicon glyphicon-plus"></a></div>
  		<div class="botones button6"><a href="{% url 'product_list' %}">VER PRODUCTOS&nbsp;&nbsp;<span class="glyphicon glyphicon-eye-open"></a></div>
  	</div>
  </nav>

  {% block content %}
  {% endblock %}

  <footer>
    <div>Godoy & Bertuzzi Inc. © MMXIX</div>
    <div><img src="{% static "img/logo1.png" %}" alt="My image"></div>
  </footer>

  </body>
</html>
