{% load static %}
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/compras.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" href="{%  static 'img/favicon.ico' %}">
    <title>Gastron-O-Matic</title>
  </head>

<body>
  <nav>
  		<div class="menu">
  		<div class="menuheader"><img src="{% static "img/logoGOM_med.png" %}" alt="Gastr-O-Matic"></div>
  		<a href="{% url 'factura_new' %}"><div class="botones button1"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;&nbsp;NUEVA FACTURA</div></a>
      <a href="{% url 'producto_new' %}"><div class="botones button2"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;&nbsp;NUEVO PRODUCTO</div></a>
  		<a href="{% url 'proveedor_new' %}"><div class="botones button3"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;&nbsp;NUEVO PROVEEDOR</div></a>
  		<a href="{% url 'proveedor_list' %}"><div class="botones button4"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;&nbsp;VER PROVEEDORES</div></a>
      <a href="{% url 'factura_list' %}"><div class="botones button5"><span class="glyphicon glyphicon-list-alt"></span>&nbsp;&nbsp;&nbsp;VER FACTURAS</div></a>
  		<a href="{% url 'product_list' %}"><div class="botones button6"><span class="glyphicon glyphicon-barcode"></span>&nbsp;&nbsp;&nbsp;VER PRODUCTOS</div></a>
  	</div>
  </nav>

  {% block content %}
  {% endblock %}

  <footer>
    <div style="padding-top:20px"><img src="{% static "img/logo_chicoBN.png" %}" alt="Gastr-O-Matic"> | Godoy & Bertuzzi Inc. © MMXIX</div>
  </footer>

  </body>
</html>
