{% extends 'compras/base.html' %}

{% block content %}

<header>
	MÓDULO DE COMPRAS
</header>
<main>
  {% if user.is_authenticated %}
  <div class="bienvenida mayus"> ¡BIENVENIDO {{ user.username }}! </div>
  {% else %}
  <div class="bienvenida"> ¡BIENVENIDO! </div>
  <br>
  <div class="bienvenida"> USTED NO SE ENCUENTRA AUTENTICADO </div>
  <br>
  <div class="exitoso"> LA FUNCIONALIDAD DEL SITIO SE VERÁ RESTRINGIDA </div>
  {% endif %}
  <br>
  <div class="exitoso">
    <p>PARA COMENZAR</p>
    <p>SELECCIONE UNA OPCIÓN DEL MENÚ DE LA IZQUIERDA</p>
  </div>
</main>
{% endblock %}
