{% extends 'compras/base.html' %}

{% block content %}
<header>
	PROVEEDORES
</header>

<main>
  {% if user.is_authenticated %}

  {% endif %}

<form target="_self" class="proveedor">{% csrf_token %}
			<div class="caja">
     			<div class="grid-item titulo mayus">{{ proveedor.apellido }}
						{% if user.is_authenticated %}
            <a href="{% url 'proveedor_edit' pk=proveedor.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
            <a href="{% url 'proveedor_remove' pk=proveedor.pk %}"><span class="glyphicon glyphicon-trash"></span></a>
						{% endif %}
					</div>
          <div class="grid-item texto">NOMBRE</div>
          <div class="grid-item">{{ proveedor.nombre }}</div>
          <div class="grid-item texto">CUIT</div>
          <div class="grid-item">{{ proveedor.CUIT}}</div>
          <div class="grid-item texto">DIRECCIÓN</div>
          <div class="grid-item">{{ proveedor.dirección }}</div>
          <div class="grid-item texto">TELÉFONO</div>
          <div class="grid-item">{{ proveedor.teléfono }}</div>
          <div class="grid-item texto">CORREO ELECTRÓNICO</div>
          <div class="grid-item">{{ proveedor.correo_electrónico }}</div>
			</div>
	</form>

</main>
{% endblock %}
